@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* LIGHT MODE (Default) */
body {
  @apply bg-[#d1d0ce] text-[#1f2937] transition-all duration-300;
}

/* DARK MODE */
.dark body {
  @apply bg-[#090c13] text-[#e5e7eb];
}

/* Glass Effect */
.glass {
  background: rgba(255, 255, 255, 0.733);
  backdrop-filter: blur(16px);
  border-radius: 20px;
  border: 1px solid rgb(255, 255, 255);
}

/* Dark Glass */
.dark .glass {
  background: rgba(38, 41, 48, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

/* Gold Accent */
.gold {
  color: #e97b7be5;
}

/* Dark Gold (slightly softer) */
.dark .gold {
  color: rgba(243, 174, 174, 0.898);
}

.deep .dark {
  color: #292727e5;
}

.deep {
  color: #eee1e1;
}